:root {
  /* Color Pallette */
  --rosewood: #5e0b15;
  --red-violet-color-wheel: #90323d;
  --bone: #d9cab3;
  --bronze: #bc8034;
  --shadow: #8c7a6b;
  --button: #1183ca;
}

body {
  margin: 0;
  font-family: 'Roboto';
  background-color: var(--shadow);
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.main img {
  height: auto;
  width: auto;
}

.main .description {
  align-self: center;
}

a {
  color: inherit
}

a:visited {
  color: inherit
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: transparent;
  color: white;
}

#home-button {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#home-button img {
  width: 50px;
  height: 50px;
}

#home-button h1 {
  font-size: 32px;
  padding: 0 1rem;
}

.header ul {
  list-style-type: none;
  display: flex;
}

.header li {
  padding-right: 1rem;
  font-size: 18px;
}

a {
  text-decoration: none;
}

#cravings-mobile-menu {
  display: none;
}

#cravings-menu div{
  display: flex;
}

/** Landing Page **/
.description h1 {
  font-size: 60px;
}

.description p {
  font-size: 18px;
}

/** PERSONALPAGE **/
.autocomplete-container {
  color: black;
}

/** LOGINPAGE **/
.login-container {
  padding: 8rem 0;
  height: 100%;
}

.paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  color: black;
  padding: 2rem;
}

.avatar {
  color: var(--red-violet-color-wheel);
  border-radius: 1em;
}

.form {
  margin-top: 1rem;
}

.submit {
  background-color: var(--bone) !important;
}

.register {
  background-color: var(--bronze) !important;
  color: white !important;
}

/** ADMIN PAGE **/

#admin-requests-container {
  display: flex;
}

#admin-requests-container div:first-child{
  margin: auto;
}

/** Others **/
#waiting-cat {
  margin: auto;
}

#swaggerContainer {
  background-color: white;
  padding: 2em 0;
}

/** MEDIA QUERY **/

@media screen and (max-width: 500px) {
  .main {
    flex-direction: column;
  }

  .main img {
    margin: 10vh 0;
  }
}