:root {
  /* Color Pallette */
  --rosewood: #5e0b15;
  --red-violet-color-wheel: #90323d;
  --bone: #d9cab3;
  --bronze: #bc8034;
  --shadow: #8c7a6b;
  --button: #1183ca;
}

body {
  margin: 0;
  font-family: 'Roboto';
  background-color: var(--shadow);
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 60vh;
}

.main img {
  height: auto;
  width: auto;
  max-height: 325px;
  max-width: 400px;
  align-self: center;
}

.main .description {
  align-self: center;
}

a {
  color: inherit
}

a:visited {
  color: inherit
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: transparent;
  color: white;
  max-width: 1280px;
  margin: auto;
}

#home-button {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#home-button img {
  width: 50px;
  height: 50px;
}

#home-button h1 {
  font-size: 32px;
  padding: 0 1rem;
}

.header ul {
  list-style-type: none;
  display: flex;
}

.header li {
  padding-right: 1rem;
  font-size: 18px;
}

a {
  text-decoration: none;
}

#cravings-mobile-menu {
  display: none;
}

#cravings-menu div {
  display: flex;
}

/** Landing Page **/
.description h1 {
  font-size: 60px;
}

.description p {
  font-size: 18px;
}

/** PERSONALPAGE **/
.autocomplete-container {
  color: black;
  width: 100%;
  margin-bottom: 1em;
}

.modal {
  display: flex;
  align-items: center;
}

#formList {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  color: black;
  padding: 2em;
}

#formList textarea {
  width: calc(100% - 2em);
  min-height: 5em;
  margin-bottom: 1em;
  font-family: 'Roboto';
  font-size: 16px;
  padding: 1em;
}

#mylists-container {
  display: flex;
  flex-flow: wrap;
}

.list-form-controls {
  display: flex;
  justify-content: space-around;
}

/** LOGINPAGE **/
.login-container {
  padding: 8rem 0;
  height: 100%;
}

.paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  color: black;
  padding: 2rem;
}

.avatar {
  color: var(--red-violet-color-wheel);
  border-radius: 1em;
}

.form {
  margin-top: 1rem;
}

.submit {
  background-color: var(--bone) !important;
}

.register {
  background-color: var(--bronze) !important;
  color: white !important;
}

/** Explore **/
.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.list-card {
  width: fit-content;
  min-width: 300px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
}

.list-card .MuiChip-root {
  margin: 0.5em;
}

.list-card .MuiRating-root {
  margin: auto;
}

/** ADMIN PAGE **/

#admin-requests-container {
  display: flex;
}

#admin-requests-container div:first-child {
  margin: auto;
}

/** SETTINGS PAGE **/
#settings-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: white; */
  padding: 1em;
}

#settings-form {
  background-color: white;
  color: black;
  width: 50%;
  padding: 1em;
}

#settings-form h3 {
  display: flex;
  align-items: center;
}

#settings-form h3 svg {
  margin-right: 0.5em;
}

/** Others **/
#waiting-cat {
  margin: auto;
  padding: 1em;
}

#swaggerContainer {
  background-color: white;
  padding: 2em 0;
}

.modal-content {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  color: black;
  padding: 2em;
}

.modal-content p {
  color: grey
}


/** MEDIA QUERY **/

@media screen and (max-width: 500px) {
  .main {
    flex-direction: column;
  }

  .main img {
    margin: 10vh 0;
  }

  #cravings-mobile-menu {
    display: flex;
  }

  #cravings-menu {
    display: none;
  }

  .home-image {
    width: 80vw !important;
  }

  .list-card {
    min-width: 225px;
  }
}

@media screen and (max-width: 768px) {
  #settings-form {
    width: 80%;
  }
}